.logo {
  position: absolute;
  right: 50px;
}

.left-side {
  float: left;
  width: 65%
}

.right-side {
  float: right;
  width: 35%;
}

.table-formatting{
  padding: 10px;
  margin: 10px;
}

.table-row{
  font-weight: bold;
}

.table-cell-width { 
  width: 20%;
}

.table-cell-width-small{
  width: 5%;
}